html,body {
  /* background: linear-gradient(345deg, rgba(0,0,0,1) 0%, rgba(221,57,57,1) 35%, rgba(213,182,53,1) 100%);   */
  background: linear-gradient(345deg, rgba(0,0,0,1) 0%, rgb(53, 42, 42) 35%, rgb(63, 62, 56) 100%);  

  background-repeat:   repeat;
  background-position: top;
  background-attachment: fixed;
  background-size: cover;
  
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
