$backgroundColor: #000000db;
$white: rgba(255,255,255,0.3);
.cover {
  background-size: cover;
}
.header {

  padding: 4rem 0;
  img {
  display: block;
  margin: auto;
  filter: drop-shadow(30px 10px 4px #4444dd);

  }


  div {
    min-height:350px;
    max-width:250px;
    margin: 5rem auto;
    background:linear-gradient(to left, #965dffba, #6fabff);
    backdrop-filter: blur(6px);
    border-radius:2px;
    box-shadow:0px 2px 3px rgba(0, 0, 0, 0.05);
    display:flex;
    flex-direction:column;
    filter: drop-shadow(15px 10px 4px #4444dd8e);
    font-family: "Times New Roman", Times, serif;
    font-size: large;
    
    
    form {
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      fieldset{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        
        border-color: rgba(255, 127, 80, 0);
        
        label{
          margin: .5rem 0rem;
        }

        button{
          cursor: pointer;
          margin-top: 1rem;
          padding: 0.6em 2em;
          border: none;
          outline: none;
          color: rgb(255, 255, 255);
          background: rgb(0, 0, 0);
          cursor: pointer;
          position: relative;
          z-index: 0;
          border-radius: 10px;
          user-select: none;
          -webkit-user-select: none;
          touch-action: manipulation;
        }
        button:before {
          content: "";
          background: linear-gradient(
            45deg,
            #FF0000,
            #FF7300,
            #FFFB00,
            #48FF00,
            #00FFD5,
            #002BFF,
            #7A00FF,
            #FF00C8,
            #FF0000,
          );
          position: absolute;
          top: -2px;
          left: -2px;
          background-size: 400%;
          z-index: -1;
          filter: blur(5px);
          -webkit-filter: blur(5px);
          width: calc(100% + 4px);
          height: calc(100% + 4px);
          animation: glowing-button-85 20s linear infinite;
          transition: opacity 0.3s ease-in-out;
          border-radius: 10px;
        }
        @keyframes glowing-button-85 {
          0% {
            background-position: 0 0;
          }
          50% {
            background-position: 400% 0;
          }
          100% {
            background-position: 0 0;
          }
        }
        button:after {
          z-index: -1;
          content: "";
          position: absolute;
          width: 100%;
          height: 100%;
          background: #222;
          left: 0;
          top: 0;
          border-radius: 10px;
        }
      }
    }
  }

  button {}
}

.del {
  background: $backgroundColor;
  background-image: url(../public/deletebutton.png);
  background-size: contain; 
  background-repeat: no-repeat;
  background-position: center center; 
  width: 6rem;
  height: 3rem;
  border-radius: .3rem;
}

.container {
  padding: 0 2rem;
}

.body {
  background: $backgroundColor;
  height: 100%;

  #root {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
}


.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}

.title,
.description {
  text-align: center;
}

.description {
  margin: 4rem 0;
  line-height: 1.5;
  font-size: 1.5rem;
}

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
}

.card {
  margin: 1rem;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  max-width: 300px;
}

.card:hover,
.card:focus,
.card:active {
  color: #0070f3;
  border-color: #0070f3;
}

.card h2 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
